<h3>Please enter your Username and Password to get started</h3><br>
    
    <%= form_for(@cuber), url: '/cubers' do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log In" %>

    <% end %>